.CarouselApps-container{
    width: 100%;
}

.CarouselApps{
    width: 100%;
    padding: 1em 5vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2.5em;
    cursor: pointer;
    overflow-x: scroll;
}

.CarouselApps:hover .AppCard{
    opacity: 1;
}

.CarouselApps::-webkit-scrollbar{
    display: none;
}