.SearchSuggestions{
    background-color: #151515;
    width: 25rem;
    height: 14rem;
    padding: 2em;
    border-radius: 1.25em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: all 200ms;
}

.SearchSuggestions-h4{
    font-size: 1.5em;
    line-height: 1.25;
}

.SearchSuggestions-rightContent{
    padding: 1em;
}

.SearchSuggestions:hover{
    transform: scale(1.1);
    z-index: 1;
    border: 3pt solid #fff;
    -webkit-box-shadow: 0 10px 1.8em 0 rgba(0,0,0,0.75);
    -moz-box-shadow:    0 10px 1.8em 0 rgba(0,0,0,0.75);
    box-shadow:         0 10px 1.8em 0 rgba(0,0,0,0.75);
}