.ContentDetails{
    background: black center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    padding: 5.5rem 5vw 2rem;
    position: relative;
    opacity: 0;
    animation: fadeInAnimation 500ms ease-in 1 forwards;
}

.ContentDetails::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(80deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 25%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.25) 100%);
}

.ContentDetails-container{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1.2rem;
}

.ContentDetails-h1{
    color: #fff;
    font-size: 8rem;
    line-height: 1.1;
}

.ContentDetails-h4{
    flex: 0 0 auto;
}

.ContentDetails-rating{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;
}

.ContentDetails-Restriction{
    margin-bottom: .5rem;
}

.ContentDetails-Restriction span{
    padding: .1rem .6rem;
    border: 2pt solid #fff;
    border-radius: .625rem;
    font-size: 1.3rem;
    line-height: 1;
}

.ContentDetails-description{
    max-width: 60%;
}

.ContentDetails-description-p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #ffffff50;
}

.ContentDetails-buttons{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
    padding: 2.3em .125em;
}

.ContentDetails-buttons::-webkit-scrollbar{
    display: none;
}

.ContentDetails-buton{
    background-color: #8C8C8C75;
    padding: 1.0625rem 2.625rem;
    border-radius: 2.5rem;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5em;
    transition: all 500ms;
}

.Button-span-img{
    width: 2.5rem;
    transition: all 500ms;
}

.Button-span-provider{
    min-width: 3em;
}

.ContentDetails-buton:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.025);
}

.ContentDetails-buton:active {
    transform: scale(1.125);
}

.watchlisted-button.active,
.watched-button.active {
    background-color: #fff;
    color: #000;
}

.watchlisted-button.active .Inverted-icon .Button-span-img,
.watched-button.active .Inverted-icon .Button-span-img {
    filter: none;
}

.Inverted-icon .Button-span-img{
    filter: invert();
}

.ContentDetails-buton:hover .Button-span-img{
    filter: invert();
}

.ContentDetails-buton:hover .Inverted-icon .Button-span-img{
    filter: none;
}

@media screen and (max-width: 1480px){
    .ContentDetails-description {
        max-width: 100%;
    }

    .ContentDetails-buttons {
        width: calc(100% + 5vw);
    }

    .ContentDetails-buton:nth-last-child(1) {
        margin-right: 5vw;
    }
}

@media screen and (max-width: 920px){
    .ContentDetails{
        background-position: 30% top;
    }

    .ContentDetails-container{
        gap: 1em;
    }

    .ContentDetails-h1{
        font-size: 6rem;
    }

    .ContentDetails-h4{
        font-size: 1.5rem;
    }
    .ContentDetails-Restriction{
        margin-bottom: 0;
    }
    

    .ContentDetails-description-p{
        font-size: 1.2rem;
    }
    
    .ContentDetails-rating{
        gap: 0.5em;
    }
}