.EmailField-label{
    margin-left: 1.25em;
    margin-bottom: 0.75em;
    font-size: 1.5em;
    color: #fff;
}

.EmailField-input{
    background-color: #2F2F2F;
    color: #fff;
    padding: 1em 1.25em;
    border-radius: 5em;
    min-width: 20em;
    font-size: 1.5em;
}