.CarouselMoviesLG-container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.CarouselMoviesLG{
    width: 100%;
    padding: 0.65em 6em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.75em;
    cursor: pointer;
    overflow-x: scroll;
}

.CarouselMoviesLG:hover .MovieCardLG-h4{
    transform: translateY(0);
    opacity: 1;
}

.CarouselMoviesLG:hover .MovieCardLG{
    opacity: 1;
}

.CarouselMoviesLG::-webkit-scrollbar{
    display: none;
}