.ManageProfile{
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 16vh 5vw 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.ManageProfile-info{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.ManageProfile-logo{
    width: 6em;
}

.ManageProfile-h2{
    font-size: 2.5em;
    line-height: 1.2;
    text-align: center;
}

.ManageProfile-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    gap: 3em;
}

.ManageProfile-profiles{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 3em;
}

.ManageProfile-profile{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    flex: 0 0 auto;
    cursor: pointer;
    transition: all 200ms;
}

.ManageProfile-profile-img,
.ManageProfile-addProfile-img{
    width: 10rem;
    height: 10rem;
}

.ManageProfile-profile-img{
    border-radius: 50%;
    border: 3pt solid transparent;
}

.ManageProfile-profile-name{
    font-size: 1.2em;
    line-height: 1;
}

.ManageProfile-profile-name{
    color: #fff;
}

.ManageProfile-addProfile-img{
    padding: 2em;
    background-color: #fff;
    border: 3pt solid #000;
    border-radius: 50%;
}

.ManageProfile-profile:hover .ManageProfile-profile-img,
.ManageProfile-profile:active .ManageProfile-profile-img{
    border: 3pt solid #ffffff;
}

.ManageProfile-profile:hover,
.ManageProfile-profile:active{
    transform: scale(1.025);
}

.ManageProfileInfo-butons{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 920px){
    .ManageProfile{
        padding-top: 15vh;
    }

    .ManageProfile-profiles,
    .ManageProfile-container{
        gap: 1em;
    }

    .ManageProfile-profile{
        width: 8rem;
        height: 8rem;
    }
}