.MovieCardLG-container{
    padding: 2.5em 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.MovieCardLG{
    width: 47rem;
    height: 24rem;
    color: #fff;
    position: relative;
    background: center center no-repeat;
    background-size: cover;
    opacity: 0.9;
    border: 0 solid transparent;
    border-radius: 1em;
    flex: 0 0 auto;
    transition: all 200ms;
}

.MovieCardLG-container:hover .MovieCardLG{
    transform: scale(1.05);
    z-index: 1;
    -webkit-box-shadow: 0 10px 1.8em 0 rgba(0,0,0,0.75);
    -moz-box-shadow:    0 10px 1.8em 0 rgba(0,0,0,0.75);
    box-shadow:         0 10px 1.8em 0 rgba(0,0,0,0.75);
}

.MovieCardLG-info{
    background: linear-gradient(to right top, #000 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.35) 40%, rgba(0, 0, 0, 0) 80%);
    height: 100%;
    width: 100%;
    padding: 2em;
    position: absolute;
    border-radius: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 200ms;
}

.MovieCardLG-container:hover .MovieCardLG-info{
    background: linear-gradient(to right top, #000 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.35) 40%, rgba(0, 0, 0, 0) 80%);
    border: 3pt solid #fff;
    border-radius: 1em;
}

.MovieCardLG-info-provider{
    width: 4em;
    filter: brightness(0) invert(1);
}

.MovieCardLG-movie-title{
    width: 100%;
}

.MovieCardLG-h3{
    font-size: 3.5rem;
    line-height: 1;
}

.MovieCardLG-h4{
    margin-top: 1em;
    font-size: 1.5rem;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
