.CarouselAppsLG-container{
    width: 100%;
}

.CarouselAppsLG{
    width: 100%;
    padding: 4em 5vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2.5em;
    cursor: pointer;
    overflow-x: scroll;
}

.CarouselAppsLG:hover .AppCard{
    opacity: 1;
}

.CarouselAppsLG::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1480px){
    .CarouselAppsLG{
        gap: 1.5em;
        padding-top: 3em;
        padding-bottom: 2em;
    }   
}