.CarouselAppsLG-container{
    width: 100%;
}

.CarouselAppsLG{
    width: 100%;
    padding: 1.75em 5vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2.5em;
    cursor: pointer;
    overflow-x: scroll;
}

.CarouselAppsLG:hover .AppCard{
    opacity: 1;
}

.CarouselAppsLG::-webkit-scrollbar{
    display: none;
}