.Main{
    background-color: maroon;
    height: 80vh;
    padding: 0.5em 4em;
    position: relative;
    background: url(/public/assets/bgMandalorian.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: -2;
}

.Main::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
    z-index: -1;
}

.Main-h1{
    font-size: 4em;
    line-height: 1;
    color: #fff;
}

.Main-indicators{
    display: flex;
    flex-flow: row nowrap;
    gap: 0.75em;
}

.Main-indicators--ellipse{
    width: 0.75em;
    height: 0.75em;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}