.SearchBar{
    padding: 1.65em 6em;
}

.SearchBar-input{
    background-color: #2F2F2F;
    width: 100%;
    padding: 0.5em 1.5em;
    color: #fff;
    opacity: 50%;
    border: 3pt solid transparent;
    border-radius: 2em;
    font-size: 3em;
    line-height: 0.65em 1em;
    transition: all 500ms;
}

.SearchBar-input:hover,
.SearchBar-input:focus{
    border: 3pt solid #fff;
    opacity: 100%;
}

.SearchBar-img{
    width: 3rem;
}

#Search::-webkit-search-cancel-button{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #fff url(/assets/icons/close.svg) no-repeat 50% 50%;
    background-size: 50%;
    position:relative;
    -webkit-appearance: none;
    cursor: pointer;
    transition: all 200ms;
}

#Search::-webkit-search-cancel-button:hover{
    transform: scale(1.2);
}