.AppDetails{
    width: 100%;
    height: 100vh;
    padding: 2rem 5vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0;
    animation: fadeInAnimation 500ms ease-in 1 forwards;
}

.Loading-bar{
    animation: fadeOutAnimation 500ms ease-in 5000ms 1 forwards;
}

.AppDetails-provider-img{
    width: 30em;
}

.AppDetails-footer{
    position: absolute;
    bottom: 2rem;
    left: 5vw;
    opacity: 0;
    animation: fadeInAnimation 500ms ease-in 5s 1 forwards;
}