.SelectProfile{
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 16vh 5vw 2rem;
    display: flex;
    gap: 0.5em;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    opacity: 0;
    animation: fadeInAnimation 500ms ease-in 1 forwards;
}

.SelectProfile-info{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.SelectProfile-logo{
    width: 6em;
}

.SelectProfile-h2{
    font-size: 2.5em;
    line-height: 1.2;
    text-align: center;
}

.SelectProfile-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    gap: 3em;
}

.SelectProfile-profiles{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 3em;
    padding-top: 1em;
}

.SelectProfile-profile{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    flex: 0 0 auto;
    cursor: pointer;
    transition: all 200ms;
}
.SelectProfile-profile-img,
.SelectProfile-addProfile-img{
    width: 10rem;
    height: 10rem;
}

.SelectProfile-profile-img{
    border-radius: 50%;
    border: 3pt solid transparent;
}

.SelectProfile-profile-name{
    font-size: 1.2em;
    line-height: 1;
}

.SelectProfile-profile-name{
    color: #fff;
}

.SelectProfile-addProfile-img{
    padding: 2em;
    background-color: #fff;
    border: 3pt solid #000;
    border-radius: 50%;
}

.SelectProfile-profile:hover .SelectProfile-profile-img,
.SelectProfile-profile:active .SelectProfile-profile-img{
    border: 3pt solid #ffffff;
}

.SelectProfile-profile:hover,
.SelectProfile-profile:active{
    transform: scale(1.025);
}

.SelectProfile-footer{
    position: absolute;
    bottom: 2rem;
    left: 5vw;
}

.SelectProfile-manage-button{
    border: 2pt solid #ffffff50;
    border-radius: 2em;
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 500ms;
}

.SelectProfile-manage-button:hover{
    background-color: #ffffff;
    color: #000;
    scale: 1.025;
}

@media screen and (max-width: 920px){
    .SelectProfile{
        padding-top: 15vh;
    }

    .SelectProfile-profiles,
    .SelectProfile-container{
        gap: 1em;
    }

    .SelectProfile-profiles{
        overflow-x: scroll;
    }

    .SelectProfile-profiles::-webkit-scrollbar{
        display: none;
    }

    .SelectProfile-profilrofile-img{
        width: 8rem;
        height: 8rem;
    }
}