.AddProfile{
    min-height: 100vh;
    padding: 2em 5vw 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.AddProfileInfo{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.AddProfileInfo-icon{
    background-color: #fff;
    width: 4rem;
    height: 4rem;
    padding: 0.85em;
    border-radius: 50%;
    flex: 0 0 auto; 
}

.AddProfileInfo-trash{
    background-color: #ff000052;
}

.AddProfile-divider{
    width: 100%;
    margin-bottom: 1em;
    padding: 0 0 0.5em;
    border-bottom: 1pt solid #707070;
}

.AddProfile-divider-h4{
    font-size: 1.5em;
    line-height: 1.5;
    color: #fff;
}

.AddProfileForm{
    width: 100%;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

.AddProfileInfo-butons{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 920px){
    .AddProfile{
        padding-top: 1em;
    }

    .AddProfileInfo-h2{
        font-size: 2.375rem;
        line-height: 1.2;
        text-align: center;
    }

    .AddProfileEdit{
        padding-bottom: 1em;
        margin-bottom: 0;
    }
    
    .AddProfileEdit-h4{
        font-size: 1.2em;
    }

    .AddProfileForm{
        gap: 2em;
    }
}

@media screen and (max-width: 675px) {
    .AddProfile{
        padding-bottom: 12vh;
    }
    .AddProfileInfo-h2{
        font-size: 1.5rem;
    }
    .AddProfile-divider-h4{
        font-size: 1.2em;
    }
    .TextField-label{
        font-size: 1.2em;
    }
    .TextField-input,
    .PasswordField-input{
        font-size: 1.2em;
    }
    .AddProfileInfo-butons{
        position: fixed;
        bottom: 0;
    }
}
