*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

/* .CloneTV{
    opacity: 0;
    animation: fadeInAnimation 500ms ease-in 5000ms 1 forwards;
    padding-bottom: 10em;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
} */