.CarouselSearchSuggestions-container{
    width: 100%;
}

.CarouselSearchSuggestions{
    width: 100%;
    padding: 1em 6em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.75em;
    cursor: pointer;
    overflow-x: scroll;
}

.CarouselSearchSuggestions::-webkit-scrollbar{
    display: none;
}