.LoginForm{
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 20vh 5vw 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.LoginForm-container{
    display: flex;
    flex-flow: column nowrap;
    gap: 6em;
    align-items: center;
}

.LoginForm-container:nth-child(){
    display: none;
}

.LoginForm-h2{
    font-size: 2.5em;
    line-height: 1.2;
    text-align: center;
}

.LoginForm-form{
    display: flex;
    flex-flow: column nowrap;
    gap: 3em
}

.LoginForm-btnContainer{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 920px){
    .LoginForm{
        padding-top: 15vh;
    }

    .LoginForm-container{
        gap: 3em;
    }
}