.LoginForm{
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 20vh 5vw 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: fadeInAnimation 300ms ease-in 1 forwards;
}

.LoginForm-container{
    display: flex;
    flex-flow: column nowrap;
    gap: 6em;
    align-items: center;
}

.LoginForm-h2{
    font-size: 2.5em;
    line-height: 1.2;
    text-align: center;
}

.Login-Form-form{
    display: flex;
    flex-flow: column nowrap;
    gap: 3em
}

.LoginForm-btnContainer{
    width: 100%;
    padding: 5vh 5vw;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;
}

.TextField-input,
.PasswordField-input{
    background-color: #2F2F2F;
    color: #fff;
    padding: 1em 1.25em;
    border-radius: 5em;
    min-width: 20em;
    font-size: 1.5em;
}

.TextField-label,
.PasswordField-label{
    margin-left: 1.25em;
    margin-bottom: 0.75em;
    font-size: 1.5em;
    color: #fff;
}

.OkBtn-button{
    border: 2pt solid transparent;
    border-radius: 2em;
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    pointer-events: auto;
    transition: all 500ms;
}

.Button-span{
    background-color: #fff;
    border-radius: 50%;
    padding: 0.8em;
}

.Button-span-img-arrow{
    width: 1.5em;
}

.OkBtn-button:hover{
    transform: scale(1.025);
}

.OkBtn-button:active{
    transform: scale(0.975);
}

@media screen and (max-width: 768px){
    .LoginForm{
        padding-top: 15vh;
    }

    .LoginForm-container{
        gap: 3em;
    }

    .TextField-input,
    .PasswordField-input{
        width: 100%;
        min-width: 15em;
    }
}

@media screen and (max-width: 576px){
    .LoginForm{
        padding-top: 8vh;
    }

    .LoginForm-h2{
        font-size: 2em;
        line-height: 1.1;
    }

    .LoginForm-container{
        gap: 2em;
    }

    .TextField-input,
    .PasswordField-input{
        width: 100%;
        min-width: 10em;
        padding: 0.75em 1.25em;
    }
}